# OScar binary
OScar

# Additional OScar binaries
OScar-7.0
OScar-7.1
OScar-8.0
OScar-8.1
OScar-DCC

# Compiled source
obj/*.o
obj

# nohup.out file, if the user launches OScar with nohup
nohup.out

# "testing" test log file
log_3000

# Python venv
venv

# Any CAN database file
*.dbc

# CAN db parsing test INI file
PCAN.ini

# Miscellaneous files used for testing
/OScar1
/OScar2
/MS_1_rssi_info.csv
/MS_1_station_info.csv
/MS_2_station_info.csv
/MS_2_rssi_info.csv
/A4_andata.json
/OScar-DCC-New
/PKI_info.ini
file.pcap
OScar-DCC-NET
OScar-DCC_NET
pkiReqRes/ephPKEY.pem
pkiReqRes/ephPKEY2.pem
pkiReqRes/ephSKEY.pem
pkiReqRes/ephSKEY2.pem
pkiReqRes/responseAT.bin
pkiReqRes/responseEC.bin
pskAT.bin
pskEC.bin
requestAA.bin
requestEC.bin
security.cpp

# JetBrains IDE project files
/.idea

.idea/editor.xml
GN_log_RX.csv
GN_log_TX.csv
