# OScar binary
OScar

# Additional OScar binaries
OScar-7.0
OScar-7.1
OScar-DCC

# Compiled source
obj/*.o
obj

# nohup.out file, if the user launches OCABS with nohup
nohup.out

# "testing" test log file
log_3000

# Python venv
venv

# Any CAN database file
*.dbc

# CAN db parsing test INI file
PCAN.ini
.idea/*
